{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        cowboy,
        {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
]}.

{plugins, [rebar3_run]}.

{relx, [{release, { wchain, "0.1.0" },
         [cowboy,
          goldrush,
          lager,
          ranch,
          mnesia,
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
